.card{
    cursor: pointer;
    background-color: #8b8b8b;
    border-top: 2px solid #353535;
    border-left: 2px solid #353535;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &__image{
        height: 80px;
        width: 80px;
    }

    &--selected{
        background-color: #555555;
    }

    &--connected{
        background-color: #55FF55;
    }
}